name: Go

on:
  push:
    branches: [ main ]
    tags: [ v* ]
  pull_request:
    branches: [ main ]
    
jobs:
  
  build:
    strategy:
      matrix:
        go-version: [1.15.x, 1.16.x]
  
    name: Build
    runs-on: 'ubuntu-latest'
   
    steps:
      - uses: actions/checkout@v2
      
      - name: Check code formatting using gofmt
        uses: Jerome1337/gofmt-action@v1.0.4
        
      - name: Check code linting using golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
	  args: --skip-dirs=razor/pkg/bindings
    
      - name: Test
        run: go test -v ./...
